<!-- this is an optional navigation -->
<section class="navigation">
  <a class="toggle"></a>
  <div class="menu">
    <!-- Add a link like this for each state or country section you plan to add -->
    <a href="/new-orleans/" title="New Orleans, Louisiana" class="la nav-icon"><i class="mg map-us-la"></i></a>
    <a href="/chicago/" title="Chicago, Illinois" class="il nav-icon"><i class="mg map-us-il"></i></a>
    <a href="/portland-me/" title="Portland, Maine" class="me nav-icon"><i class="mg map-us-me"></i></a>
  </div>
</section>